<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="LevelDir">D:\Disassembly\DW\layout\ghz</entry>
<entry key="BlocksetDir">D:\Disassembly\DW\mappings\ghz</entry>
<entry key="TilesetDir">D:\Disassembly\DW\art\level\ghz</entry>
<entry key="PaletteDir">D:\Disassembly\DW\palettes</entry>
</properties>
